.top_level
  = link_to '#', class: 'cultureamplogo' do
    %i.icon-cultureamp_logo{ title: 'Culture Amp' }
  %ul.nav
    %li
      = link_to '#', class: 'tooltip-right' , :'data-tooltip' => 'Surveys' do
        %i.icon-surveys
    %li
      = link_to '#', class: 'tooltip-right' , :'data-tooltip' => 'Academy' do
        %i.icon-academy
    %li
      = link_to '#', class: 'tooltip-right' , :'data-tooltip' => 'Support Center' do
        %i.icon-support
  .account
    %img.company{:src => "images/hooli.jpg"}
    .popup
      .top
        %p.username
          Daniel Wearne
        = link_to '#', class: 'sign-out' do
          Sign Out
      .bottom
        %ul
          %li
            Global Admin
          %li
            Manage Profile
          %li
            Masquarade as a user
          %li
            Account admin



